<ion-header>
  <ion-navbar>
    <ion-title>
      Recent Albums
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6 *ngFor="let a of album1 | slice:-2">
        <ion-card class="album1">
          <ion-card-content>
            <img [src]="a.thumbnailUrl"/>
            <p>
              {{a.title}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-6 *ngFor="let a of album2 | slice:-2">
        <ion-card class="album2">
          <ion-card-content>
            <img [src]="a.thumbnailUrl"/>
            <p>
              {{a.title}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-6 *ngFor="let a of album3 | slice:-2">
        <ion-card class="album3">
          <ion-card-content>
            <img [src]="a.thumbnailUrl"/>
            <p>
              {{a.title}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
